nav {
  background-color: #2b2b2b;
  height: 70px;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: "Bree Serif", serif;
  font-size: large;
}

li {
  padding: 20px;
}

nav ul li a {
  color: #fff;
}
.active {
  font-weight: bold;
}
