  nav {
    background-color: #b7f0e7;
    height: 60px;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: 'Bree Serif', serif;
    font-size: large;
  }
  
  li {
    padding: 10px;
    
  }
  
  a {
    color: rgb(87, 28, 191);
    
  }
  .active {
    font-weight: bold;
  }